{% comment %}
When a comment has just been submitted, it's not shown right away.
Shopify needs to wait until it knows for sure that it is not spam to publish it.
We can still show right away *to its author* the comment he just submitted 
— although that comment may not have been published yet.
When a comment is submitted, the browser is redirected to a page that 
includes the new comment id in its URL. Example:
http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
When a comment ID is specified in an article URL, that comment is accessible in the 
template through a Liquid object called comment. 
That comment is a full-fledged comment variable that has all the regular comment properties: 
http://docs.shopify.com/themes/liquid-variables/comment.
Note that comment.created_at will only be defined if the comment did not have any blank field 
— was posted without error.
{% endcomment %}

<section id="comments" class="article-single__comments comments">

  {% comment %}If a comment was just submitted with no blank field.{% endcomment %}
  {% if comment and comment.created_at %}
  <p class="comments__success comments__feedback">
    {% if blog.moderated? %}
    Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.
    {% else %}
    Your comment was posted successfully! Thank you!
    {% endif %}
  </p>
  {% endif %}

  {% if number_of_comments > 0 %}
  <ul class="comments__list">
    {% comment %}If a comment was just submitted with no blank field, let's show it.{% endcomment %}
    {% if comment and comment.created_at %}
    <li id="{{ comment.id }}" class="comment">
      <h4 class="comment__author">{{ comment.author }}</h4>
      <div class="comment__content">
        {{ comment.content }}
      </div>
      <p class="comment__date">
        On {{ comment.created_at | date: "%B %d, %Y" }}
      </p>
    </li>
    {% endif %}
    {% comment %}Showing the rest of the comments.{% endcomment %}
    {% for comment in article.comments %}
    <li id="{{ comment.id }}" class="comment">
      <h4 class="comment__author">{{ comment.author }}</h4>
      <div class="comment__content">
        {{ comment.content }}
      </div>
      <p class="comment__date">
        On {{ comment.created_at | date: "%B %d, %Y" }}
      </p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% comment %}Comments are paginated.{% endcomment %}
  {% if paginate.pages > 1 %}
  <div id="pagination pagination--default">
    {{ paginate | default_pagination }}
  </div>
  {% endif %}
  
  {% comment %}Comment submission form.{% endcomment %}
  {% form "new_comment", article %}
  <div class="comment-form"> 
    <h4 id="add-comment-title" class="comment-form__heading">Leave a comment</h4>
    
    {% if form.errors %}
    <div class="comment-form__errors">
    {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="field-group">
      <label for="comment-author">Name</label>
      <input required{% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="Your name" id="comment-author" value="{{ form.author }}" />
    </div>

    <div class="field-group">
      <label for="comment-email">Email</label>
      <input required{% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="your@email.com" id="comment-email" value="{{ form.email }}" />
    </div>

    <div class="field-group">
      <label for="comment-body">Message</label>
      <textarea required{% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body">{{ form.body }}</textarea>
    </div>

    <div class="field-group">
      <input type="submit" value="Post Comment" />
    </div>
    
    {% if form.errors %}
      <script>
        window.location.hash = '#add-comment-title';
      </script>
    {% endif %}
    
    {% if form.posted_successfully? %}
      <script>
        window.location.hash = '#comments';
      </script>
    {% endif %} 
  </div>
  {% comment %}/.comment-form{% endcomment %}
  {% endform %}
</section>