{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}


<div class="product-grid__item product-card{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">
  <div class="product-card__image-wrap">
  <a href="{{ product.url | within: collection }}">
    <img class="product-card__image" src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
  </a>
  </div>

  <div class="product-card__info">
    <h3 class="product-card__title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h3>
    <p class="product-card__price">
      {% if product.price_varies %}From{% endif %}
        {{ product.price | money }}
        {% if on_sale %}
        <s class="product-card__compare-price">{{ product.compare_at_price | money }}</s>
      {% endif %}
    </p>
    {% comment %}
      All themes by Shopify should support the Product Reviews app out of the box.
      https://apps.shopify.com/product-reviews
    {% endcomment %}
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>
  {% comment %}/__info{% endcomment %}
</div>