<footer>
  
  {% if linklists.footer.links.size > 0 %}
  <nav role="navigation" class="footer-nav">
  {% for link in linklists.footer.links %}
    <a href="{{ link.url }}" title="{{ link.title }}" class="footer-nav__item {% if link.active %}active{% endif %}">{{ link.title }}</a>
  {% endfor %}
  </nav>
  {% endif %}
  
  <p role="contentinfo" class="colophon">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</p>

</footer>