<header class="site-header flexgrid" role="banner">   
    
  {% comment %}
    It would be nice if the logo was a shop setting, rather than a theme setting.
    But for now, it is a theme setting. The shop logo is uploaded on the theme settings page.
    Link to the theme settings page of currently published theme will always be:
    http://www.shopify.com/admin/themes/current/settings.
    To add theme settings to a theme, see this: http://docs.shopify.com/themes/theme-templates/settings
    Theme settings are added to http://www.shopify.com/admin/themes/current#config/settings.html
  {% endcomment %}
  <section class="site-header__logo">
    {% if settings.use_logo %}
    <h1>
      <a id="logo" href="/">
        {{ 'logo.png' | asset_url | img_tag: shop.name }}
      </a>
    </h1>
    {% else %}
    <h1>
      <a href="/">{{ shop.name }}</a>
    </h1>
    {% endif %}
    {% if template == 'index' %}
    {% comment %}
      Many SEO audit tools look for a h1 tag on the home page. Let's give 'em one.
      Other pages should use the resource name as h1 tag. For example, on the product
      page, the product title will use a h1 tag.
    {% endcomment %}
    <h1 class="hidden">{{ shop.name }}</h1>
    {% endif %}
  </section>

<section class="site-header__content flexgrid">

  {% comment %}
    Main Navigation 
  {% endcomment %}
  {% include 'site-nav' %}

  {% comment %}
    Note on checkout link: it is a good idea to avoid linking to /checkout directly because shops that use 
    Paypal Express Checkout and/or Google Checkout have special checkout buttons on the /cart page. Also,
    special instructions for the seller are entered on the /cart page. Finally, the universal tracking code 
    of Google Analytics may not work if linking directly to the /checkout page.
  {% endcomment %}
        
  <div class="cart-link">
    <a href="/cart">Cart {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
  </div>
      
  {% if shop.customer_accounts_enabled %}
  <div class="customer-links">
    {% if customer %}
      <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
    {% else %}
      {{ 'Log in' | customer_login_link }}
      {% if shop.customer_accounts_optional %}
      or {{ 'Register' | customer_register_link }}
      {% endif %}
    {% endif %}
  </div>
  {% comment %}/.customer-links{% endcomment %}
  {% endif %}
   
  <form action="/search" method="get" class="search-form" role="search">
    <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
    <input type="submit" id="search-submit" value="Search" />
  </form>
</section>
  
</header>