{% comment %}
  A word on drop-down menus: Shopify has no concept of them.
  Drop-down menus in Shopify themes are a hack that relies on a naming convention.
  To create a drop-down menu, the merchant must create a link list that has the same name as the link he wants the drop-down for.
  Shopify has a visual how-to guide here: http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu.
{% endcomment %}

<nav role="navigation" class="site-nav">
  <ul class="site-nav__list flexgrid">
    {% for link in linklists.main-menu.links %}
    {% comment %}Setup some variables for checks in navigation look{% endcomment %}
    {% assign has_sub_menu = false %}
    {% assign parent_link_active = false %}
    {% assign child_list_handle = link.title | handle %}

    {% comment %}Setup variables for dropdown construction{% endcomment %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
      {% assign has_sub_menu = true %}
      {% for l in linklists[child_list_handle].links %}
        {% if handle != blank and handle == l.object.handle %}
          {% assign parent_link_active = true %}
        {% elsif page_title == l.title %}
          {% assign parent_link_active = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% comment %}Top level nav item{% endcomment %}
    <li class="site-nav__item {% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}{% if has_sub_menu %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
      {% comment %}Output a subnav if the menu item has one{% endcomment %}
      {% if has_sub_menu %}
      <ul class="site-nav__sub-nav">
        {% if has_sub_menu %}
          {% for l in linklists[child_list_handle].links %}
          <li class="site-nav__dropdown-item{% if l.active %} active{% endif %}">
            <a href="{{ l.url }}" class="site-nav__dropdown-link">{{ l.title }}</a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
