// Contains Form Element Styles for [THEME NAME]
// Author Catchfire Creative
// Table of Contents:

//----------Fancy Select
select {
  display: inline-block;
  margin: 0;
  padding: .3em 2em .3em 0.6em;
  color: #000;
  border: 0;
  border-radius: .25em;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('arrow-down.svg') right 0.4em center no-repeat;
  background-color: #999999;
}

@-moz-document url-prefix() {
  /* Impossible to hide the native arrow in Firefox.
     https://gist.github.com/joaocunha/6273016
     Please upvote the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
  select {
    background-image: none;
    padding-right: 0;
  }
  /* Getting rid of dotted line around text in Firefox. */
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

/* Getting rid of arrow in IE10 and IE11. */
select::-ms-expand {
  display: none;
}

/* Using default arrow with no box in IE8 and IE9. */
.ie8 select, .ie9 select {
  background: #999999 none;
  padding: 5px;
  border: 1px;
}