// Mixins for use on [THEME]
// Author: Catchfire Creative
// Table of Contents:
// I.   Clearfix
// II.  Helpers
// III. Breakpoints


//----------Trusty Clearfix

@mixin clearfix-before() {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin clearfix-after() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin clearfix() {
  @include clearfix-before;
  @include clearfix-after;
}


//----------Helpers

/* Responsive aspect-ratio-preserving container
 *  - uncle-dave is the wrapper which sets the aspect ratio
 *  - daves-nephew is the element containing the content
 */
@mixin uncle-dave($aspect-x:1, $aspect-y:1) {
  height: 0;
  width: 100%;
  padding-bottom: percentage($aspect-y/$aspect-x);
  position: relative;
  overflow: hidden;
}
@mixin daves-nephew() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


//----------Breakpoints

@mixin bp($point) {
  @media screen and (min-width: $point) { @content; }
}

