// Contains Site-Wide Header Styles for [THEME NAME]
// Author: Catchfire Creative

//----------Header Layout
.site-header {
  padding: 0.5rem;
  &__content {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

//----------Site Navigation
.site-nav {
  flex-grow: 1;
  &__list {
    justify-content: space-around;
    padding: 0;
    list-style: none;
  }
}