{% paginate article.comments by 50 %}

{% assign number_of_comments = article.comments_count %}

{% comment %}If a comment was just submitted, and it has no blank fields.{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article class="article-single">
  <header>
    <h2 class="artice-single__title">
      {{ article.title }}
    </h2>
    <p class="article-single__meta">
      <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
    </p>
  </header>
  <section class="atricle-single__content editor-content">
    {{ article.content }}
  </section>
  <section class="article-single__info">
    {% if blog.comments_enabled? and article.comments_count > 0 %}
    <span class="article-single__comments-count">
      <a href="#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
    </span>
    {% endif %}
    {% if article.tags.size > 0 %}
    <span class="article-single__tags">
      {% for tag in article.tags %} 
      <a class="article-single__tag" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </span>
    {% endif %}
  </section>
</article>

{% if blog.comments_enabled? %}
  {% include 'article-comments' %}
{% endif %}

{% if blog.next_article or blog.previous_article %}
<div class="article-pagination">
  <p> 
    {% if blog.next_article %}
    <span class="article-pagination__next">{{ '&larr; Next Post' | link_to: blog.next_article }}</span>
    {% endif %}    
    {% if blog.previous_article %}
    <span class="article-pagination__previous">{{ 'Previous Post &rarr;' | link_to: blog.previous_article }}</span>
    {% endif %}
  </p>
</div>
{% endif %}

{% endpaginate %}