{% paginate blog.articles by 5 %}

{% comment %}
  Blogs manages categories through tags.
  If this is a tag page, output the tag name along with the blog name
{% endcomment %}
{% if current_tags %}
<h2 class="page-title blog-title">{{ blog.title | link_to: blog.url }} <span class="quiet">&raquo;</span> {{ current_tags.first }}</h2>
{% else %}
<h1 class="page-title blog-title">{{ blog.title }}</h1>
{% endif %}

<section class="article-list">

  {% for article in blog.articles %}
  
  {% comment %}
    Determine if current article has a featured images.
    Useful for differing layouts for articles have/don't have an image
  {% endcomment %}
  {% assign article_has_image = false %}
  {% if article.featured_image %}
    {% assign article_has_image = true %}
  {% endif %}
  
  <article class="article-list__item article-listing{% if article_has_image %} article-listing--has-image{% endif %}">
    <header>
      <h3 class="article-listing__title">
      <a href="{{ article.url }}">{{ article.title }}</a>
      </h3>
      <p class="article-listing__meta">
        <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>
      </p>
    </header>
    <section class="article-listing__content">
      <div class="flexgrid">
        {% if article_has_image %}
        <div class="article-listing__image">
          <a href="{{ article.url }}">
            <img src="{{ article.image.src | img_url: 'medium' }}">
          </a>
        </div>
        {% comment %}/__image{% endcomment %}
        {% endif %}
        <div class="article-listing__copy">
          <div class="editor-content"> 
            {% if article.excerpt.size > 0 %}
            <div class="no-images">{{ article.excerpt }}</div>
            {% else %}
            <p>{{ article.content | strip_html | truncatewords: 120 }}</p>
            {% endif %}
          </div>
          {% comment %}/.editor-content{% endcomment %}
          <p>
            <a class="blog-read-more" href="{{ article.url }}">Read more →</a>
          </p>
        </div>
        {% comment %}/__copy{% endcomment %}
      </div>
      {% comment %}/.flexgrid{% endcomment %}
    </section>

    <div class="meta">
      {% if blog.comments_enabled? and article.comments_count > 0 %}
      <span class="meta-comments">
        <a href="{{ article.url }}#comments"><i class="fa fa-comment"></i> {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
      </span>
      {% endif %}
      {% if article.tags.size > 0 %}
      <span class="tags">
        {% for tag in article.tags %} 
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{% if forloop.first %}<i class="fa fa-tag"></i> {% endif %}{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}
  </article>
</section>
  
{% endfor %}

</div>
  
{% if paginate.pages > 1 %}
<div class="pagination--default">
{% comment %}
  When paginating blog articles, a previous article is actually a newer article, not an older one,
  because blog articles are shown and paginated in a reversed chronological order.
  The word 'previous' can be confusing, hence we'll change it.
{% endcomment %}
{{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
{% endif %}

{% endpaginate %}