<h2 class="page-title">Shopping Cart</h2>
  
{% if cart.item_count > 0 %}

<form action="/cart" method="post">
  
  <table class="cart-table">
    
    <thead>
      <tr class="cart-table__row">
        <th class="cart-table__heading-cell">Item</th>
        <th class="cart-table__heading-cell">&nbsp;</th>
        <th class="cart-table__heading-cell">Price</th>
        <th class="cart-table__heading-cell">Quantity</th>
        <th class="cart-table__heading-cell">Total</th>
        <th class="cart-table__heading-cell">&nbsp;</th>
      </tr>
    </thead>
    
    <tbody>

    {% for item in cart.items %}    
    
      {% comment %}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {% endcomment %}
      
      {% assign collection_url = item.product.collections.last.url %}
      {% if collection_url == '/collections/frontpage' or collection_url == blank %}
        {% assign collection_url = '/collections/all' %}
      {% endif %}
      
      {% if forloop.first %}
        {% assign continue_shopping_url = collection_url %}
      {% endif %}

      <tr class="cart-table__row cart-item">
        <td class="cart-table__cell">
          <a href="{{ collection_url }}{{ item.url }}">
            <img class="cart-item__image" src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
          </a>
        </td>
        <td class="cart-table__cell">
          <h2 class="cart-item__title">
            <a href="{{ collection_url }}{{ item.url }}">
            {{ item.title }}
            </a>
          </h2>
          {% comment %}
          Line Item Properties
          {% endcomment %}
          {% assign properties_amount = item.properties | size %}
          {% if properties_amount > 0 %}
          <p class="cart-item__properties">
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
                <br />
              {% endunless %}
            {% endfor %}
          </p>
          {% endif %}
          <h3 class="cart-item__vendor">{{ item.vendor }}</h3>
        </td>
        <td class="cart-item__price cart-table__cell">{{ item.price | money }}</td>
        <td class="cart-table__cell">
          <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
        </td>
        <td class="cart-table__cell cart-item__line-price">{{ item.line_price | money }}</td>
        <td class="cart-table__cell cart-tem__remove">
          <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
        </td>
      </tr>
    {% endfor %}
    
    </tbody>
    
  </table>
  
  {% comment %}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {% endcomment %}
  <section class="cart-actions">
    <header>
      <h3 class="cart-actions__subtotal">Subtotal <em>{{ cart.total_price | money }}</em></h3>
    </header>
    <a class="cart-actions__continue" href="{{ continue_shopping_url }}">Continue shopping</a>
    <span class="cart-action__or">or</span>
    <input class="cart-actions__update" type="submit" name="update" value="Update cart" />
    <span class="cart-action__or">or</span>
    <input class="cart-actions__checkout" type="submit" name="checkout" value="Check out" />    
    {% comment %}Paypal and Google checkout buttons{% endcomment %}
    {% if additional_checkout_buttons %}
    <p class="cart-actions__additional-checkouts">
      {{ content_for_additional_checkout_buttons }}
    </p>
    {% endif %}
  </section>
  
  {% comment %}
  For the special instructions to be submitted with order,
  we need to use a name attribute set to 'note'.
  {% endcomment %}
  <section class="cart-notes">
    <header>
      <p>Special instructions for seller</p>
    </header>
    <textarea name="note">{{ cart.note }}</textarea>
  </section>

</form>

{% else %}

<div class="cart-empty">
  <h2>It appears that your cart is currently empty!</h2>
  <h3>You can continue browsing <a href="/collections/all">here</a>.</h3>
  {% comment %}
    It's a good idea to have some sort of CTA on an empty cart page to potentially re-engage
    a user. A listing of products they may like is one example. Use a collection of popular products,
    or make us of something similar if it alreadt exists.
  {% endcomment %}
</div>

{% endif %}