{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}

<h2 class="collection-title">{{ collection.title }}</h2>

{% comment %}
  Collection sorting. Needs the JavaScript that is at the bottom of this file.
{% endcomment %}
{% if collection.products_count > 1 %}
<select class="product-sort" id="product-sort">
  <option value="manual">Featured</option>
  <option value="price-ascending">Price: Low to High</option>
  <option value="price-descending">Price: Hight to Low</option>
  <option value="title-ascending">A-Z</option>
  <option value="title-descending">Z-A</option>
  <option value="created-ascending">Oldest to Newest</option>
  <option value="created-descending">Newest to Oldest</option>
  <option value="best-selling">Best Selling</option>
 </select>
{% endif %}

{% comment %}
  Listing all tags within the current collection.
  Shopify uses product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' at 
  http://bit.ly/1j1Dti4 for details.
{% endcomment %}
{% if collection.all_tags.size > 0 %}
<ul class="collection-tags">
  <li class="collection-tags__item{% unless current_tags %} active{% endunless %}">
    {{ 'All' | link_to_remove_tag: current_tags.first }}
  </li>
  {% for tag in collection.all_tags %}
  {% if current_tags contains tag %}
  <li class="collection-tags__item active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li class="collection-tags__item">
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
  {% endfor %}  
</ul>
{% endif %}

{% comment %}
  Output the collection description
{% endcomment %}
{% if collection.description.size > 0 %}
<div class="editor-content collection-description">
  {{ collection.description }}
</div>
{% endif %}

<section class="product-grid flexgrid">
{% paginate collection.products by 15 %}
  {% for product in collection.products %}
    {% include 'product-card' %}
  {% else %}
  <p>There are no products in this view.</p>
  {% endfor %}
</section>

{% if paginate.pages > 1 %}
<div class="pagination pagination--default">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('#product-sort')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>