{% comment %}
  Re-use the 'editor-class' class wherever you output content that was added by a merchant using the Rich Text Editor.
  Style all HTML elements in that content the same way across the board.
  Use the 'editor-class' class in your CSS to help maintain that consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog posts
{% endcomment %}

{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<section class="masthead">
  <img src="//unsplash.it/1400/600?random" alt="Placeholder Masthead Image">
</section>

<section class="featured-producst">
  <div class="flex-grid product-grid">
  {% assign collection = collections[settings.homepage_collection] %}
  {% for product in collection.products %}
    <a class="product-grid__item">
      {% comment %}All the product card markup here.{% endcomment %}
    </a>
  {% endfor %}
    
  </div>
  {% comment %}/.flex-grid{% endcomment %}
</section>