{% comment %}
  Be default, this page will out put all the collections on the shop and paginate if there are more than 10.
  Change this to suite the needs of the theme.

  This page should have some basic care applied even if it is not used prominently in the shop. It will always be available by visiting /collections
{% endcomment %}

{% paginate collections by 10 %}

  {% for collection in collections %}
    <section id="{{ collection.handle }}" class="product-grid">
      <h2>{{ collection.title }}</h2>
      <div class="flexgrid">
        {% for product in collection.products  %}
          {% include 'product-card'  %}
        {% endfor %}
      </div>
    </section>
  {% endfor %}

  {% if paginate.pages > 1 %}
    <div class="pagination pagination--default">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}

{% endpaginate %}
