{% comment %}
Re-use the 'editor-content' class wherever you output content that was added by a merchant using
the Rich Text Editor.
Style all HTML elements in that content the same way across the board.
Use the 'editor-class' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<h2 class="page-title">{{ page.title }}</h2>
<article class="editor-content">
  {{ page.content }}
</article>