{% comment %}Assign some variable to use to display inventory notices{% endcomment %}
{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="product" itemscope itemtype="http://schema.org/Product">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  
  <form class="flexgrid" action="/cart/add" method="post" enctype="multipart/form-data">
    
    <section class="product-photos">
  
    {% if product.images.size == 0 %}
  
      <div class="product-photos__container">
        <img class="product-photos__featured-image" src="{{ '' | img_url: 'grande' }}" alt="" />
      </div>
    
    {% else %}
    
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <div class="product-photos__container" id="product-featured-image">
        <a href="{{ featured_image | img_url: '1024x1024' }}">
          <img class="product-photos__featured-image" src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" />
        </a>
      </div>

      {% if product.images.size > 1 %}
      <ul class="product-thumbs product__thumbnails">
        {% for image in product.images %}
        <li class="product-thumbs__list-item">
          <a href="{{ image | img_url: '1024x1024' }}" class="product-thumbs__link">
            <img class="product-thumbs__image" src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    
    {% endif %}

    </section><!-- .product-photos -->
    
    <section class="product-details">
      
      <header>
        <h2 class="procuct-details__title" itemprop="name">{{ product.title }}</h2>

        {% comment %}
          This section concerns product vendors and vendor pages.
          If the shop does not make use of vendors, remove this section
        {% endcomment %}
        {% assign product_vendor_handle = product.vendor | handle %}
        {% comment %}
          Do we have a collection that has the same name as our product vendor name?
          If we do, let's have the vendor link point to it.
          If not, we will point to the automatic vendor collection.
        {% endcomment %}
        {% if collections[product_vendor_handle].handle == product_vendor_handle %}
          {% assign vendor_url = collections[product_vendor_handle].url %}
        {% else %}
          {% assign vendor_url = product.vendor | url_for_vendor %}
        {% endif %}
        <h3 itemprop="brand" class="product-details__vendor-title">{{ product.vendor | link_to: vendor_url }}</h3>

        <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock" />
          {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          {% endif %}
            {% assign variant = product.selected_or_first_available_variant %}
            {% if product.compare_at_price > product.price %}
            <span class="product-price__price on-sale" itemprop="price">{{ variant.price | money }}</span>
            <s class="product-price__sale-price">{{ variant.compare_at_price | money }}</s>
            {% else %}
            <span class="product-price__price" itemprop="price">{{ variant.price | money }}</span>
            {% endif %}
        </div>  
        {% comment %}/.product-price{% endcomment %}
      </header>
      
      
      <div id="product-description" class="editor-content product-description" itemprop="description">
        {{ product.description }}
      </div>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}       

      <div id="product-variants" {% if hide_default_title %}class="hidden"{% endif %}">
        <select id="variant-select" name="id">
        {% for variant in product.variants %}
          <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
          {{ variant.title }}
          </option>
        {% endfor %}
        </select>
      </div>        
             
      <div id="backorder-notice" class="hidden">
        <p>{{ '%s is currently back-ordered.' | replace: '%s', '<span id="selected-variant"></span>' }}</p>
      </div>
        
      <div id="product-add">
        <input type="submit" name="add" id="add-to-cart" class="primary button" value="{{ add_to_cart | escape }}">
      </div>

    </section><!-- .product-details -->

  </form>

  {% comment %}
    All themes by Shopify should support the Product Reviews app out of the box.
    https://apps.shopify.com/product-reviews
  {% endcomment %}
  {% comment %}<section id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</section>{% endcomment %}
  
  {% comment %}
    Provides some boilerplate for navigating items within a collection.
    Remove if not needed in shop design
  {% endcomment %}
  {% if collection %}
    {% if collection.previous_product or collection.next_product %}
    <div>     
    {% if collection.previous_product %}
      {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
      <span class="left">{{ '&larr; Previous Product' | link_to: prev_url }}</span>
    {% endif %}
    {% if collection.next_product %}
      {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
      <span class="right">{{ 'Next Product &rarr;' | link_to: next_url }}</span>
    {% endif %}
    </div>
    {% endif %}
  {% endif %}
  

</div>

{% comment %}
  Adding support for product options. See here for details:  
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}

<script>
  
var selectCallback = function(variant, selector) {

  if (variant) {
    
    // Swap image.
    if (variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('#product-featured-image img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    
    // Selected a valid variant that is available.
    if (variant.available) {
          
      // Enabling add to cart button.
      jQuery('#add-to-cart').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});
    
      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder-notice').removeClass("hidden");
      } else {
        jQuery('#backorder-notice').addClass("hidden");
      }
      
    } else {
      // Variant is sold out.
      jQuery('#backorder-notice').addClass('hidden');
      jQuery('#add-to-cart').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);
    }
    
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }        

  } else {
    // variant doesn't exist.
    jQuery('#product-price').empty();
    jQuery('#backorder-notice').addClass('hidden');
    jQuery('#add-to-cart').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
  }

};
  
jQuery(function($) {

  new Shopify.OptionSelectors('variant-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

});

// Shopify.Image.preload({{ product.images | json }}, 'grande');
// Shopify.Image.preload({{ product.images | json }}, '1024x1024');

</script>