{% comment %}
The search.liquid template is not a required template.
Whether you are using your own template for the search page or not,
the {{ content_for_header }} tag in theme.liquid will always output the following on the /search page:
<link rel="stylesheet" href="//cdn.shopify.com/s/global/search.css" type="text/css" />
So the /search page can be styled by a globally-hosted stylesheet called search.css.
If the default Shopify styles are beneficial to the theme, you may enable them by
adding an ID of "searchresults" to the 'search-results' section of this template
{% endcomment %}

<section class="search-results">
  
  <div class="search-results__form">
    <form action="/search" method="get" class="search-form" role="search">
      <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
      <input type="submit" id="search-submit" value="Search" />
    </form>
  </div>
  
  {% comment %}
  search.performed is false when accessing the /search page without a 'q' parameter set
  in the URL. A shop-owner can link to the /search page from one of his link lists.
  It is important to show a search form on that page if search.performed is false.
  {% endcomment %}
  {% if search.performed %}
    {% paginate search.results by 10 %}
    {% comment %}
    Common pitfall to avoid: search.results should never be accessed before the opening 
    paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
    search.liquid template if you need to.
    If you fail to do the above, the pagination of search results will be broken.
    search.results_count is fine to access in or out of the paginate block.
    {% endcomment %}
    {% if search.results_count == 0 %}  
    <h2 class="search-results__heading">Your search for "{{ search.terms }}" did not yield any results.</h2>              
    {% else %}
    <ol class="search-results__list">
      {% for item in search.results %}      
      <li class="search-results__list-item search-result">
        <h3 class="search-result__title">{{ item.title | link_to: item.url }}</h3>
        {% if item.vendor %}
        <div class="search-result__image">
          <a href="{{ item.url }}" title="{{ item.title | escape }}">
            {{ item | img_url: 'small' | img_tag: item.featured_image.alt }}
          </a>
        </div>
        {% endif %}
        <div class="search-results__content">
          {% comment %}
            Change excerpt length with 'truncatewords'
            Remove 'highlight: search.terms' to disable search term highlighting
          {% endcomment %}
          <p>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</p>    
        </div>
      </li>
      {% endfor %}
    </ol>
    {% endif %}    
    
    {% if paginate.pages > 1 %}
    <div class="pagination pagination--default">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}
    {% endpaginate %}    
  {% endif %}  
</div>